In [15]:
#default argument
def greet(name="Guest", age=25):
    print(f"Hello {name}, you are {age} years old.")
greet("Alice", 30)

Hello Alice, you are 30 years old.

In [7]:
#keyword argument
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")
greet(age=30, name="Alice")

Hello Alice, you are 30 years old.

In [22]:
#variable length argument
def sumnumber(*number):
  return sum(number)
print(sumnumber(1, 2, 3))

6

In [35]:
#position arugment
def num(add,sub):
  print("value=", add,"value=",sub)
num(14,15)

value= 14 value= 15

In [36]:
#return statement
def add_numbers(a, b):
    return a + b
result = add_numbers(3, 4)
print(result)

7