In [ ]:
print("neha")
print("welcome to python ")

neha
welcome to python

In [ ]:
#add two numbers
num1 = int(input("Enter first number:"))
num2 = int(input("enter the second number:"))
result = num1 + num2
print("neha, 15")
print("the sum is:",result)

Enter first number:12
enter the second number:12
neha, 15
the sum is: 24

In [ ]:
#multiply two numbers
num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
result = num1 * num2
print("neha, 15")
print("the multilication:",result)

enter the first number:2
enter the second number:4
neha, 15
the multilication: 8

In [ ]:
#arithematic application
a = int(input("enter the first number:"))
b = int(input("enter the second number:"))
print("neha, 15")
print("add",a+b)
print("subtration",a-b)
print("multiplication",a*b)
print("multi",a**b)
print("division",a//b)
print("division",a/b)

enter the first number:2
enter the second number:3
neha, 15
add 5
subtration -1
multiplication 6
multi 8
division 0
division 0.6666666666666666

In [ ]:
#AREA OF CIRCLE
r = float(input("enter the area of circle"))
area = 3.14*r*r
print("neha, 15")
print("area of circle",area)

enter the area of circle62
neha, 15
area of circle 12070.16

In [ ]:
#FAFARENATE CONVERSION
fafrenate=float(input("enter the fafrenate"))
celsius=(5/9)*(fafrenate-32)
print("neha, 15")
print("celsius=",celsius)

enter the fafrenate77
neha, 15
celsius= 25.0

In [ ]:
#BMI CALCULATION
h=float(input("enter the height"))
w=int(input("enter the weight"))
bmi=w/(h*h)
print("neha, 15")
print(bmi)

enter the height1.5
enter the weight35
neha, 15
15.555555555555555

In [ ]:
#area and perimeter
l=int(input("enter the lengh="))
b=int(input("enter the breadth="))
print("neha, 15")
print("area",l*b)
print("perimeter",2*(l+b))

enter the lengh=4
enter the breadth=5
neha, 15
area 20
perimeter 18

In [ ]:
#min to hour
min=int(input("enter the time in min"))
hours = min//60
remainderminutes=min%60
print("neha, 15")
print(hours)
print(remainderminutes)

enter the time in min140
neha, 15
2
20

In [ ]:
#CELSIUS CONVERSION
celsius=float(input("enter the celsius"))
faranate=(celsius * 9/5)+32
print("neha, 15")
print("fafrenate=",faranate)

enter the celsius24
neha, 15
fafrenate= 75.2

In [ ]:
#simple interest
p=int(input("enter the principal "))
r=float(input("enter the rate "))
t=int(input("enter the time"))
simpleinterest=(p*t*r)/100
print(" Neha, 15")
print(simpleinterest)

enter the principal 25000
enter the rate 5
enter the time5
 Neha, 15
6250.0